html {
  font-size: 16px; }

body {
  background: #000; }

.home main {
  color: white;
  display: flex; }

.content {
  width: 85%;
  background-color: #0f1115;
  padding: 2em;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em; }

.film-detail {
  background-color: yellow; }

nav {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid red;
  margin-bottom: 0.2em; }
  nav .logo {
    grid-column: 1/2; }
  nav .searc-box {
    grid-column: 2/3; }
  nav .linkler {
    grid-column: 3/4;
    display: flex; }
  nav .nav-link {
    color: gray;
    font-size: 1.5em; }
  nav .nav-link:hover {
    color: white; }

footer {
  background-color: teal; }

.sidebar {
  width: 15%;
  padding: 1em; }
