nav {
  position: relative;
  background-color: #19181f;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  .logo {
    grid-column: 1/2;
  }
  .searc-box {
    grid-column: 2/3;
  }
  .linkler {
    grid-column: 3/4;
    display: flex;
  }
  .nav-link {
    color: gray;
  }
  .nav-link:hover {
    color: white;
  }
}
